<div ng-controller="ArticlesController">
    <div class="alert alert-success">
        <div class="container" style="text-align: center;">
        This is your first JobExcel listing!
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Best of luck for this job! <br> Hope you apply soon.</h2>
                <form class="contact-form" name="articleForm" ng-submit="create(articleForm.$valid)" novalidate>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" show-errors>
                          <label for="title">Job Title</label>
                          <input name="title" type="text" ng-model="jobtitle" id="title" class="form-control" placeholder="Job Title/Designation" required>
                          <div ng-messages="articleForm.title.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Job title/designation is required.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group" show-errors>
                          <label for="title">Company</label>
                          <input name="company" type="text" ng-model="company" id="company" class="form-control" placeholder="Company Name" required>
                          <div ng-messages="articleForm.company.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Company name is required.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row"> 
                      <div class="col-md-6">
                        <div class="form-group" show-errors>
                          <label for="title">Deadline</label>
                          <input ng-model="formData.dueDate" type="text" id="dueDate" name="dueDate"
                            class="form-control" datepicker-popup="MM-dd-yyyy" datepicker-append-to-body="true"
                            is-open="data.isOpen" ng-click="data.isOpen = true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="content">Note</label>
                          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 col-md-offset-4">
                              <button type="submit" class="btn btn-danger btn-block btn-lg btn-fill">Add</button>
                          </div>
                      </div>
                    </div>
                    <div ng-show="error" class="text-danger">
                      <strong ng-bind="error"></strong>
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
        
    </div>
</div>